<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_CategoryOrder>
            <version>1.0.0</version>
        </Loewenstark_CategoryOrder>
    </modules>
    <global>
        <blocks>
            <loewenstark_categoryorder>
                <class>Loewenstark_CategoryOrder_Block</class>
            </loewenstark_categoryorder>
        </blocks>
        <helpers>
            <loewenstark_categoryorder>
                <class>Loewenstark_CategoryOrder_Helper</class>
            </loewenstark_categoryorder>
        </helpers>
        <models>
            <loewenstark_categoryorder>
                <class>Loewenstark_CategoryOrder_Model</class>
            </loewenstark_categoryorder>
        </models>
        <resources>
            <loewenstark_categoryorder_setup>
                <setup>
                    <module>Loewenstark_CategoryOrder</module>
                </setup>
            </loewenstark_categoryorder_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <loewenstark_categoryorder>
                <use>standard</use>
                <args>
                    <frontName>loewenstark_categoryorder</frontName>
                    <module>Loewenstark_CategoryOrder</module>
                </args>
            </loewenstark_categoryorder>
        </routers>
        <layout>
            <updates>
                <loewenstark_categoryorder>
                    <file>loewenstark_categoryorder.xml</file>
                </loewenstark_categoryorder>
            </updates>
        </layout>
    </frontend>
</config>
